body{
    font-family: 'Redressed', cursive;
    margin: 0;
    padding: 0;
}
section{
    height: 610px;
    padding-bottom: 140px;
    display: block;
}
img{
    width: 100%;
}
h1{
    font-size: 50px;
    color: rgb(48, 47, 47);
}
h3{
    font-size: 30px;
    color: rgb(48, 47, 47);
}
p{
    font-size: 20px;
    color: dimgray;
}
.highlitting{
    color: #F88265;
}
.top-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.link-button{
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    background: linear-gradient(90deg, tomato, lightsalmon);
}
.middle-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.third-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.third-section h1{
    padding-left: 15px;
}
.third-section div{
    box-shadow: 6px 7px 40px gray;
    height: 80%;
    background-color: white;
    border-left: 7px solid;
}
#full-stack{
    border-image: linear-gradient(180deg, rgb(253, 92, 64),rgb(252, 165, 130)) 1;
}
#baby-web{
    border-image: linear-gradient(180deg, rgb(23, 23, 233), rgb(21, 209, 209));
    border-image-slice: 1;	
}
footer p{
    text-align: center;
    font-size: 18px;
}